<section>
  <h2>Bienvenido, {{first_name}}</h2>
  <p>mail: {{email}}</p>
  <h2>Rol: {{role}}</h2>
  <button onclick="location.href='/api/users/logout'">Desconectarse</button>
</section>

<section>
  <h1>Usuarios registrados:</h1>
  <table>
    <thead>
      <tr>
        <th>Ultima conexión </th>
        <th>Rol</th>
        <th>Correo electrónico</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.users}}
        <tr>
          <td>{{this.last_connection}}||</td>
          <td>{{this.role}}||</td>
          <td>{{this.email}}</td>
          <td>
            <button
              onclick="location.href='/api/users/{{this._id}}'"
            >Ver</button>
            <form action='/api/users/premium/{{this._id}}' method='post'>
              <input type='submit' value='Cambiar rol' />
            </form>
            <button class='BotonEliminar' data-idUser='{{this._id}}'>Eliminar
              Usuario</button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</section>

<h1>AÑADIR PRODUCTOS:</h1>

<form action='/api/products/' method='post' style='margin-top: 20px;'>
  <label
    for='title'
    style='display: block; margin-bottom: 10px;'
  >Nombre:</label>
  <input
    type='text'
    name='title'
    id='title'
    style='padding: 5px; width: 200px;'
  />
  <label
    for='price'
    style='display: block; margin-bottom: 10px;'
  >Precio:</label>
  <input
    type='number'
    name='price'
    id='price'
    style='padding: 5px; width: 200px;'
  />
  <label for='code' style='display: block; margin-bottom: 10px;'>Code</label>
  <input
    type='number'
    name='code'
    id='code'
    style='padding: 5px; width: 200px;'
  />
  <label for='stock' style='display: block; margin-bottom: 10px;'>Stock</label>
  <input
    type='number'
    name='stock'
    id='stock'
    style='padding: 5px; width: 200px;'
  />
  <label
    for='description'
    style='display: block; margin-bottom: 10px;'
  >Descripción:</label>
  <input
    type='text'
    name='description'
    id='description'
    style='padding: 5px; width: 200px;'
  />
  <input
    type='submit'
    value='CREAR'
    style='padding: 10px 20px; background-color: #007bff; color: #fff; border: none; cursor: pointer; margin-top: 10px;'
  />
</form>
<script>
  let AdminToken = '{{token}}';
</script>

<script src='/socket.io/socket.io.js'></script>
<script src='/js/admin.js'></script>