<style>
  #productos { display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 20px; }
  #productos>div { background-color: #f2f2f2; padding: 20px; border-radius: 5px;
  text-align: center; } .pagination-link { padding: 10px 20px; background-color:
  #007bff; color: #fff; border: none; cursor: pointer; margin-top: 10px;
  display: inline-block; text-decoration: none; border-radius: 5px; }
  .pagination-link:hover { background-color: #0056b3; }
</style>
<section>
  <h2>Bienvenido, {{first_name}}</h2>
  <p>mail: {{email}}</p>
  <h2>Rol: {{role}}</h2>
  <button onclick="location.href='/views/login'">Desconectarse</button>
</section>

<H1>Productos:</H1>

<div id='productos'>
  {{#each Productos.docs}}
    <div>
      <h3>{{title}}</h3>
      <h2>Owner: {{Owner}}</h2>
      <p>${{price}}</p>
      <p>stock:{{stock}}</p>
    </div>
  {{/each}}
</div>
<div>
  {{#if Productos.hasPrevPage}}
    <a
      href='/views/admin?page={{Productos.prevPage}}'
      class='pagination-link'
    >Página anterior</a>
  {{/if}}
  {{#if Productos.hasNextPage}}
    <a
      href='/views/admin?page={{Productos.nextPage}}'
      class='pagination-link'
    >Página siguiente</a>
  {{/if}}
</div>

<h1>AÑADIR PRODUCTOS:</h1>

<form action='/api/products/' method='post' style='margin-top: 20px;'>
  <label
    for='title'
    style='display: block; margin-bottom: 10px;'
  >Nombre:</label>
  <input
    type='text'
    name='title'
    id='title'
    style='padding: 5px; width: 200px;'
  />
  <label
    for='price'
    style='display: block; margin-bottom: 10px;'
  >Precio:</label>
  <input
    type='number'
    name='price'
    id='price'
    style='padding: 5px; width: 200px;'
  />
  <label for='code' style='display: block; margin-bottom: 10px;'>Code</label>
  <input
    type='number'
    name='code'
    id='code'
    style='padding: 5px; width: 200px;'
  />
  <label for='stock' style='display: block; margin-bottom: 10px;'>Stock</label>
  <input
    type='number'
    name='stock'
    id='stock'
    style='padding: 5px; width: 200px;'
  />
  <label
    for='description'
    style='display: block; margin-bottom: 10px;'
  >Descripción:</label>
  <input
    type='text'
    name='description'
    id='description'
    style='padding: 5px; width: 200px;'
  />
  <input
    type='submit'
    value='CREAR'
    style='padding: 10px 20px; background-color: #007bff; color: #fff; border: none; cursor: pointer; margin-top: 10px;'
  />
</form>

<h1>CREAR USUARIO PREMIUM</h1>

<form
  action='/api/users/signup/premium'
  method='post'
  style='font-family: Arial, sans-serif;'
>
  <label for='first_name'>Nombre:</label>
  <input
    type='text'
    name='first_name'
    id='first_name'
    style='margin-bottom: 10px; padding: 5px;'
    required
  />

  <label for='last_name'>Apellido:</label>
  <input
    type='text'
    name='last_name'
    id='last_name'
    style='margin-bottom: 10px; padding: 5px;'
    required
  />

  <label for='email'>Email:</label>
  <input
    type='email'
    name='email'
    id='email'
    style='margin-bottom: 10px; padding: 5px;'
    required
  />

  <label for='password'>Contraseña:</label>
  <input
    type='password'
    name='password'
    id='password'
    style='margin-bottom: 10px; padding: 5px;'
    required
  />

  <input
    type='submit'
    value='REGISTRARSE'
    style='background-color: #4CAF50; color: white; padding: 10px 20px; border: none; cursor: pointer; border-radius: 4px;'
  />
</form>

<script src='/socket.io/socket.io.js'></script>
<script src='/js/allproducts.js'></script>