<style>
  #productos { display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 20px; }
  #productos>div { background-color: #f2f2f2; padding: 20px; border-radius: 5px;
  text-align: center; } .pagination-link { padding: 10px 20px; background-color:
  #007bff; color: #fff; border: none; cursor: pointer; margin-top: 10px;
  display: inline-block; text-decoration: none; border-radius: 5px; }
  .pagination-link:hover { background-color: #0056b3; }
</style>
<section>
  <h2>Bienvenido, {{first_name}}</h2>
  <p>mail: {{email}}</p>
  <button onclick="location.href='/api/session/logout'">Desconectarse</button>
</section>
<div id='productos'>
  {{#each Productos.docs}}
    <div>
      <h3>{{title}}</h3>
      <h2>{{_id}}</h2>
      <p>${{price}}</p>
      <p>stock:{{stock}}</p>
      <button class='AddToCart' data-product-id='{{_id}}'>Añadir al Carrito</button>
    </div>
  {{/each}}
</div>
<div>
  {{#if Productos.hasPrevPage}}
    <a
      href='/views/products?page={{Productos.prevPage}}'
      class='pagination-link'
    >Página anterior</a>
  {{/if}}
  {{#if Productos.hasNextPage}}
    <a
      href='/views/products?page={{Productos.nextPage}}'
      class='pagination-link'
    >Página siguiente</a>
  {{/if}}
</div>

<script src='/socket.io/socket.io.js'></script>
<script src='/js/allproducts.js'></script>