<style>
  body { font-family: Arial, sans-serif; margin: 0; padding: 0;
  background-color: #f4f4f4; } section { background-color: #fff; padding: 20px;
  margin: 20px; border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); }
  #productos { display: grid; grid-template-columns: repeat(auto-fill,
  minmax(200px, 1fr)); gap: 20px; padding: 20px; } #productos > div {
  background-color: #fff; padding: 20px; border-radius: 5px; box-shadow: 0 2px
  5px rgba(0, 0, 0, 0.1); text-align: center; } .pagination-link { padding: 10px
  20px; background-color: #007bff; color: #fff; border: none; cursor: pointer;
  margin-top: 10px; display: inline-block; text-decoration: none; border-radius:
  5px; transition: background-color 0.3s ease; } .pagination-link:hover {
  background-color: #0056b3; } h1, h2, h3 { color: #333; } .ventanaChat {
  height: 300px; border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;
  overflow-y: scroll; } form { display: flex; flex-direction: column; gap: 10px;
  } form input[type="text"], form input[type="number"] { padding: 10px;
  border-radius: 5px; border: 1px solid #ccc; } form input[type="submit"] {
  padding: 10px 20px; border: none; background-color: #007bff; color: #fff;
  cursor: pointer; border-radius: 5px; }
</style>

<section>
  <h2>Bienvenido, {{first_name}}</h2>
  <p>mail: {{email}}</p>
  <p>Id de Carrito: {{cart}}</p>
  <button onclick="location.href='/views/logout'">Desconectarse</button>
  <button onclick='location.href=`/views/cart/{{cart}}`'>Ver carrito</button>
</section>
<div id='productos'>
  {{#each Productos.docs}}
    <div>
      <h3>{{title}}</h3>
      <h2>Owner: {{Owner}}</h2>
      <p>${{price}}</p>
      <p>stock:{{stock}}</p>
      <button class='AddToCart' data-product-id='{{_id}}'>Añadir al Carrito</button>
    </div>
  {{/each}}
</div>
<div>
  {{#if Productos.hasPrevPage}}
    <a
      href='/views/premium?page={{Productos.prevPage}}'
      class='pagination-link'
    >Página anterior</a>
  {{/if}}
  {{#if Productos.hasNextPage}}
    <a
      href='/views/premium?page={{Productos.nextPage}}'
      class='pagination-link'
    >Página siguiente</a>
  {{/if}}
</div>

<h1>AÑADIR PRODUCTOS:</h1>

<form action='/api/products/' method='post' style='margin-top: 20px;'>
  <label
    for='title'
    style='display: block; margin-bottom: 10px;'
  >Nombre:</label>
  <input
    type='text'
    name='title'
    id='title'
    style='padding: 5px; width: 200px;'
  />
  <label
    for='price'
    style='display: block; margin-bottom: 10px;'
  >Precio:</label>
  <input
    type='number'
    name='price'
    id='price'
    style='padding: 5px; width: 200px;'
  />
  <label for='code' style='display: block; margin-bottom: 10px;'>Code</label>
  <input
    type='number'
    name='code'
    id='code'
    style='padding: 5px; width: 200px;'
  />
  <label for='stock' style='display: block; margin-bottom: 10px;'>Stock</label>
  <input
    type='number'
    name='stock'
    id='stock'
    style='padding: 5px; width: 200px;'
  />
  <label
    for='description'
    style='display: block; margin-bottom: 10px;'
  >Descripción:</label>
  <input
    type='text'
    name='description'
    id='description'
    style='padding: 5px; width: 200px;'
  />
  <input
    type='submit'
    value='CREAR'
    style='padding: 10px 20px; background-color: #007bff; color: #fff; border: none; cursor: pointer; margin-top: 10px;'
  />
</form>
<script>
  var cartId = "{{cart}}";
</script>
<script src='/socket.io/socket.io.js'></script>
<script src='/js/allproducts.js'></script>